.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 16px solid #0000;
  border-right-color: #766DF497;
  position: relative;
  animation: s4 1s infinite linear;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  inset:-16px;
  border-radius: 50%;
  border:inherit;
  animation:inherit;
  animation-duration: 2s;
}
.spinner:after {
  animation-duration: 4s;
}

@keyframes s4 {
  100% {transform: rotate(1turn)}
}